.main{
    background-image: url("https://cdn.dribbble.com/users/1455307/screenshots/4574457/media/10c9fe64552970323a516d4d15f643a9.gif");
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
}
.content h1 {
    font-size: 2.5rem;
}

span#quote{
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5) ;
    padding: 1rem;
    width: 100%;
    height: 10rem;
}
.content button{
    font-size: 1.5rem;
}


@media (min-width:640px)
{
    .content h1 {
        font-size: 4rem;
    }
    .content{
        transform: translateY(-15%);
    }

    span#quote{
        font-size: 2rem;
    }
}